.bt-wrap {
	margin: 20px auto;
	width: 450px;
	font-family: 'Roboto', Verdana, sans-serif;
}

.bt-github-logo {
	margin-left: auto;
}

.bt-header {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}
